<div>
  <h1>Here is the dashboard page</h1>
  <h2>Welcome, {{user.first_name}} {{user.last_name}}!</h2>
  <h3>Your Posts:</h3>


  {{!-- DISPLAY USERS POSTS --}}
  <div>
    {{#each posts as |post| }}
    <p>{{post.title}}</p>
    <p>{{post.post}}</p>
    <p>{{format_date post.date_created}}</p>
    {{/each}}
  </div>


  {{!-- CREATE A NEW POST --}}
  <div class="col-md-6">
    <h3>Create a New Project:</h3>
    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Post Title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-content">Post:</label>
        <textarea class="form-input" id="post-content" name="post-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>


{{!-- LINK CLIENT SIDE JS FILE --}}
<script src="./js/dashboard.js"></script>