<div>
  <h1>Here is the dashboard page</h1>
  <h2>Welcome, {{user.first_name}} {{user.last_name}}!</h2>
  <h3>Your Posts:</h3>


  {{!-- DISPLAY USERS POSTS --}}
  <div>
    {{#each posts as |post| }}
      <div style="border: 2px solid red">
        <div>
          <h2>
            {{{get_emoji}}}
            <a href="/post/{{post.id}}">{{post.title}}</a>
          </h2>
          <p>Created on {{format_date post.date_created}}</p>
        </div>
        <div>
          <p>
            {{post.post}}
          </p>
        </div>
        <div>
          <p>
            <a href="./dashboard/update/{{post.id}}">Edit Post</a>
          </p>
        </div>
      </div>
    {{/each}}
  </div>
  <a href="./newpost">+ New Post</a>
</div>


{{!-- LINK CLIENT SIDE JS FILE --}}
<script src="./js/dashboard.js"></script>