<div class="dashboard">
  <div class="dashboard-welcome">
    <h1>Dashboard</h1>
    <h2>Welcome, {{user.first_name}} {{user.last_name}}!</h2>
    <div>
      <a href="./newpost"><button class="new-post-button">+ New Post</button></a>
    </div>
  </div>


  {{!-- DISPLAY USERS POSTS --}}
  <h2 class="user-post-title">Your Posts:</h2>
  
  <div class="container card-dashboard">
    {{#each posts as |post| }}
      <div class="card">
        <div class="card-header">
          <h2>
            <a href="/post/{{post.id}}">{{post.title}}</a>
          </h2>
          <p>Created on {{format_date post.date_created}}</p>
        </div>
        <div class="card-content">
          <p>
            {{{restore_content post.post}}}
          </p>
        </div>
        <div class="card-button">
            <a href="./dashboard/update/{{post.id}}"><button>Edit Post</button></a>
        </div>
      </div>
    {{/each}}
  </div>
</div>