{{!-- DISPLAY POST --}}
<div class="post-page">
  <div class="display-post">
    <div class="post-header">
      <h1>
        <a href="/post/{{post.id}}">{{post.title}}</a>
      </h1>
      <p>By {{post.user.username}}</p>
      <p>{{format_date post.date_created}}</p>
    </div>
    <div class="post-content">
      <p>
        {{{restore_content post.post}}}
      </p>
    </div>
  </div>


  {{!-- ====================================================================================== --}}
  {{!-- ADD COMMENT --}}
  {{#if logged_in}}
    <div class="new-comment">
      <h2>Add a comment:</h2>
      <form class="new-comment-form">
          <textarea class="new-comment-input" id="comment-content"></textarea>
          <input type="hidden" id="post-id" value="{{post.id}}">
            <button class="new-comment-button">Create</button>
      </form>
    </div>
  {{else}}
    <div class="new-comment">
      <p>Login in to add your own comments.</p>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    </div>
  {{/if}}



  {{!-- ====================================================================================== --}}
  {{!-- DISPLAY COMMENTS --}}
  <div class="post-comments">
    <h2>Comments:</h2>
    {{#each post.comments}}
      <div class="comments">
        <p class="user-icon"><img src="../images/user-icon.jpg" class="user-icon-image"></p>
        <div class="comment-content">
          <p class="comment-user-name">{{this.user.username}}</p>
          <p class="comment-user-date">{{format_date this.date_created}}</p>
        </div>
        <p class="comment-user-comment">{{this.comment}}</p>
      </div>
    {{/each}}
  </div>



  {{!-- ====================================================================================== --}}
  {{!-- BACK TO HOME PAGE --}}
  <div>
      <a href="../"><button>Return to HomePage</button></a>
  </div>
</div>

<script src="../js/comment.js"></script>